<!DOCTYPE html>
<html>
  <head>
    <title>CompetitionTracker</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1 class="logo">Competition<span>Tracker</span></h1>
    <p>Welcome to <%= title %></p>
  </body>
</html>
